@font-face 
{
    font-family: 'Roboto-regular';
    src: url('polices/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Domine-Regular';
    src: url('polices/Domine-Regular.ttf') format('truetype');
}

body
{
    color: #2f3640;
    background-color: black;
    margin: 0px;
}

/* conteneur principal du cv*/
#conteneur-principal
{
    display: flex;
    background-color: white;
    border: 1px solid;
    margin-left: 10%;
    margin-right: 10%;   
}

/*----------------------*/

/* I-partie gauche du cv */
aside
{
    background-color: #FFC312;
    width: 30%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

/*Partie photo du cv*/

#photo-cv
{
    width: 200px;
    height: 200px;
    border: 3px solid #FFC312 ;
    border-radius: 50%; 
    padding-top: 5%;
    padding-bottom: 5%;
    align-self: center;
    
   
    
}
/* Partie à propos de moi*/
#propos
{
    flex: 1.5;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Partie mes passions*/
#passion
{
    flex: 0.25;
}

figure
{
    display: flex;
    justify-content: space-around;
}
/*----------------------*/

/*II-Partie droite du cv*/

#coeur-cv
{
    display: flex;
    flex-direction: column;   
    width: 70%;
}

.sous-ensemble
{
    display: flex; 
    justify-content: center;   
}

.date
{
    width: 20%;
    display: flex;
    padding-top: 10px;
    padding-left: 10%;
    margin-top: 1%;
}

.contenus
{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    margin-top: 1%; 
}

/* Partie compétences*/
#competences
{
    
    width: 100%;   
}

.liste

{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;      
}

.liste :nth-child(1) { order: 1; }
.liste :nth-child(2) { order: 4; }
.liste :nth-child(3) { order: 3; }
.liste :nth-child(4) { order: 6; }
.liste :nth-child(5) { order: 2; }
.liste :nth-child(6) { order: 5; }

ul
{
    width: 30%;
    text-align: center;
    padding-left: 0;
    font-size: 1em;
    font-family: 'Roboto-Regular';
}

li
{
    
    list-style: none;
} 
/*-----------------------------*/

/*les paragraphes*/
p
{
    font-family: 'Roboto-Regular';
    font-size: 1em;
    padding-left: 3%;
    padding-right: 3%;  
}

/* Les paragraphes dont le texte est justifié */
.justify
{
    text-align: justify;
}

/* les dates et les lieux*/
.an-lieu
{
    margin-top: 7%;
}

/* les titres*/

h1
{
    font-size: 3em;
    font-family: 'Domine-Regular';
    margin-left: 50px;
    margin-bottom: 0px;
    margin-top: 15%;
}

#nom-couleur
{
    color: #FFC312;
}

#metier
{
    margin-left: 50px;
    font-size: 30px;
    margin-bottom: 15%;
}

/* h2 = Développeur web fullstack*/
#underline
{
    text-decoration: underline #FFC312;
}


.couleur /* h2 du aside*/
{
    background-color: #2C3A47;
    color:#FFC312;
    text-align: center;  
    margin: 0px;
}

h2
{
    font-size: 1.75em;
    font-family: 'Domine-Regular';  
}

.border /* H2 avec la bordure basse*/
{
    border-bottom: 2px solid #FFC312; 
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;   
    padding-bottom: 2%;
}

/* h3 partie Formation et Expériences professionnelles*/
h3
{  
    
    font-family: 'Domine-Regular';
    font-size: 1.2em;   
}

/* h3 de la partie compétences*/
.place
{
 
    width: 30%;
    text-align: center;
    font-size: 1.2em;
}

/*------------------------------*/

/*Les icones svg*/

.fa-dot-circle, .fa-circle /* icônes bulles pour les dates*/
{
    color: #FFC312;
    font-size: 1.10em;
    margin-top: 7%;
}

.fa-graduation-cap, .fa-briefcase, .fa-crown /* icônes des H2*/
{
    color: #FFC312;
    font-size: 1.10em;
    margin-right: 3%;
    padding-top: 0;
}
.fa-guitar, .fa-palette, .fa-film /* icônes pour mes passions*/
{
     font-size: 3em;
     padding: 3%;
     margin: 2%;
     border: 2px solid;
     border-radius: 50%;
     
}
.fa-linkedin, .fa-server, .fa-github-square /*icônes de la partie Contact du aside*/
{
    font-size: 2em;
    color: #2C3A47;
    margin-right: 6%;
   
}
 

/*-----------------------------------*/

/* le responsive design*/


@media all and (max-width: 920px)
{
    
    #conteneur-principal
    {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    }

    aside
   {
   width: 100%;
   flex-direction: column;
   }

   .couleur
   {
       width: 100%;
   }

   .sous-ensemble
   {
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin: 0;
     padding: 0;
   }

   .justify
   {
      
       text-align: center;
   }

   .contenus
   {
       width :100%;
       align-items: center;
       margin: 0;
       padding: 0;
   }

   .date
   {
       width: 100%;
      justify-content: center;
       padding: 0;
       margin: 0;
   }

   #formation
   {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding: 0;
       margin: 0;
       text-align: center;
   }

   .border /* H2 avec la bordure basse*/
   {
       text-align: center;
       padding: 0;
       margin: 0;
   }

   #passion
   {
       padding-bottom: 5%;
       
   }
   #competences
   {
       justify-content: center;
   }
   .liste
   {
       flex-direction: column;
   }
   .place
   {
       width: 100%;
       
   }
   ul
   {
       width: 100%;
   }

  .liste :nth-child(1) { order: 1; }
  .liste :nth-child(2) { order: 2; }
  .liste :nth-child(3) { order: 5; }
  .liste :nth-child(4) { order: 6; }
  .liste :nth-child(5) { order: 3; }
  .liste :nth-child(6) { order: 4; }
  
  h3 
  {
      padding: 0;
  }

  .fa-dot-circle, .fa-circle /* icônes bulles pour les dates*/
  {
    color: #FFC312;
    font-size: 1em;
    margin-right: 2%;
    
  }

  .fa-graduation-cap, .fa-briefcase, .fa-crown /* icônes des H2*/
  {
    
    font-size: 1em;
  }

  .fa-guitar, .fa-palette, .fa-film /* icônes pour mes passions*/
  {
     font-size: 2.5em;
     padding: 3%;
     margin: 1%;
     border: 2px solid;
     border-radius: 50%;
     
  }

  h1,h2,h3, p, #metier
  {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  #expérience, #competences 
  {
      margin-top: 5%;
  }

  #expérience > h2, #competences
  {
      margin-bottom: 5%;
  }

 div.contenus > p.justify

  {
      padding: 0 10%;
     
  }

  #propos > p
  {
      padding: 4%;
      text-align: justify;
  }
  h1 
  {
    font-size: 2.5em;
  } 
  h2 
  {
      font-size: 1.5em;
  }
  h3 
  {
      font-size: 1em;
  }

  
 
}